{% extends 'base.html' %}
{%load static%}
{% block content %}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>Welcome to Hiecon Technology. We provide cutting-edge solutions for your automation and technology needs. Explore our website to learn more about us and how we can elevate your business in the digital era.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'hiecon/img/abt2.jpg'%}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>     Welcome to Hiecon technologies!</h3>
          <p class="fst-italic">
       
            At Hiecon technologies, we are at the forefront of innovation, dedicated to transforming industries through cutting-edge automation solutions. With a passion for efficiency and a commitment to excellence, we strive to redefine the future of automation.

          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>What We Are</h5>
                <p>Established in 1996, Hiecon technology has emerged as a trailblazer in the field of automation. Our team of seasoned experts brings together a wealth of knowledge and experience to create bespoke solutions tailored to meet the unique needs of our clients.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Your Success is Our Priority</h5>
                <p>

                  At Hiecon technology, customer support is not just a service—it's a commitment. Our dedicated support team is ready to assist you in optimizing the performance of your drives and motors. From technical queries to troubleshooting, we are here to ensure your operations run seamlessly.</p>
              </div>
            </li>
          </ul>
          <p>Whether you are a small business looking to streamline operations or a large enterprise seeking to embrace Industry 4.0, Hiecon technology is here to accompany you on your automation journey. Join us in shaping the future of industries through the limitless possibilities of automation.
              
            <br/><br/>At Hiecon technology, we don't just automate processes; we revolutionize industries. Explore our range of services and discover how we can elevate your business to new heights.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
{% endblock %}