{% extends 'base.html' %}
{%load static%}
{% block title %} My Cart {% endblock %}
{% block content %}
 
 
    <div class="container mt-5">
    <h2>Your Cart</h2>
        {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages%}
                {{message}}
                {% endfor%}
            </div>
        {% endif %}
    {% if cart_products %}
     <form method="post" action="{% url 'submit_cart' %}">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Product Name</th>      
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_product in cart_products %}
                    <tr>
                        <td>
                            <img src="{{ cart_product.product.image1.url }}" alt="{{ cart_product.product.name }}" style="max-width: 50px; max-height: 50px;">
                        </td>
                        <td>{{ cart_product.product.product_name}}</td>
                        <td>₹ {{ cart_product.product.price }}</td>
                        <td>
                            {{ cart_product.quantity }}
                        </td>
                        <td>₹ {{ cart_product.subtotal }}</td>
                        <td>
                            <a href="{% url 'update_quantity' cart_product.id %}?action=increment" class="btn btn-primary">+</a>
                            <a href="{% url 'update_quantity' cart_product.id %}?action=decrement" class="btn btn-warning">-</a>
                            <a href="{% url 'remove_from_cart' cart_product.id %}" class="btn btn-danger">X</a>
 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
           
            <tfoot>
                <tr>
                    <td colspan="3">Total Cost:</td>
                    <td style="font-weight: bold;">INR {{ total_cost }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" value="submit" class="btn btn-success">Submit Cart</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>

{% endblock %}